.container {
  max-width: 600px;
  padding: 15px;
  background-color: #f9f9f9;
}
.title {
  background-color: #047FCC;
  color: white;
  font-size: 1.3em;
  margin-bottom: 15px;
}
.section {
  margin-bottom: 15px;
}
.sectionTitle {
  font-size: 1.1em;
  color: #2d2c2c;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 20px;
}
.inputGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}
.label {
  min-width: 120px;
  font-size: 0.95em;
  text-align: right;
  margin-bottom: 0;
  color: #555;
}
.input,.select {
  flex: 1;
  padding: 6px;
  font-size: 0.95em;
  background-color: #f9f9f9;
}
.customSelect {
  background-color: #f9f9f9; 
  border-color: #add8e6;
  border-radius: 8px;
  padding-left: 30px; 
  background-position: 10px center;  
}
.customSelect:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(97, 98, 99, 0.5);
}
.buttonGroup {
  margin-top: 15px;
}
.button {
  padding: 8px 15px;
  font-size: 0.95em;
  color: #fff;
}
.buttonDelete {
  background-color: #dc3545;
}
.buttonDelete:hover {
  background-color: #c82333;
}
.buttonSave {
  background-color: #007bff;
}
.buttonSave:hover {
  background-color: #0056b3;
}